<div>
<img src={{data.image}}/>
</div>
<div>
<a href="/movies">Go back</a><br/>

{{data.title}}<br/>

Director: {{data.director}}<br/>

{{#each data.stars}}
<li>{{this}}</li>
{{/each}}

{{data.description}}<br/>

{{#each data.showtimes}}
<li>{{this}}</li>
{{/each}}
</div>